তুমি কি বিদ্যালয়লৈ যাও?
বাপেকৰ নাম ৰমেশ।
আজিৰ দিনটো সুন্দৰ।
তেওঁ খোৱা ধনিয়া পানীত।
শিলাদিত্য এটা ভাল মানুহ।
আজিৰ দিনটো সুন্দৰ।
শিলাদিত্য এটা ভাল মানুহ।
তুমি কি বিদ্যালয়লৈ যাও?
বাপেকৰ নাম ৰমেশ।
মই বিয়লি চাহ খাব।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মৌচাকৰ মাজত মৌ থাকে।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মৌচাকৰ মাজত মৌ থাকে।
তেওঁ খোৱা ধনিয়া পানীত।
তুমি কি বিদ্যালয়লৈ যাও?
তুমি কি বিদ্যালয়লৈ যাও?
আমাৰ ঘৰখন বৰ ডাঙৰ।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
শিলাদিত্য এটা ভাল মানুহ।
তেওঁ খোৱা ধনিয়া পানীত।
তেওঁ খোৱা ধনিয়া পানীত।
আমাৰ ঘৰখন বৰ ডাঙৰ।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
মৌচাকৰ মাজত মৌ থাকে।
তুমি কি বিদ্যালয়লৈ যাও?
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
আমাৰ ঘৰখন বৰ ডাঙৰ।
মই বিয়লি চাহ খাব।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
বাপেকৰ নাম ৰমেশ।
আমাৰ ঘৰখন বৰ ডাঙৰ।
মই বিয়লি চাহ খাব।
আজিৰ দিনটো সুন্দৰ।
বাপেকৰ নাম ৰমেশ।
তুমি কি বিদ্যালয়লৈ যাও?
আজিৰ দিনটো সুন্দৰ।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
আমাৰ ঘৰখন বৰ ডাঙৰ।
তেওঁ খোৱা ধনিয়া পানীত।
আজিৰ দিনটো সুন্দৰ।
তেওঁ খোৱা ধনিয়া পানীত।
তুমি কি বিদ্যালয়লৈ যাও?
আজিৰ দিনটো সুন্দৰ।
তেওঁ খোৱা ধনিয়া পানীত।
আজিৰ দিনটো সুন্দৰ।
মই বিয়লি চাহ খাব।
তেওঁ খোৱা ধনিয়া পানীত।
মই বিয়লি চাহ খাব।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তুমি কি বিদ্যালয়লৈ যাও?
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
তুমি কি বিদ্যালয়লৈ যাও?
তুমি কি বিদ্যালয়লৈ যাও?
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
তেওঁ খোৱা ধনিয়া পানীত।
তেওঁ খোৱা ধনিয়া পানীত।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
বাপেকৰ নাম ৰমেশ।
মৌচাকৰ মাজত মৌ থাকে।
মই বিয়লি চাহ খাব।
আমাৰ ঘৰখন বৰ ডাঙৰ।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
মই বিয়লি চাহ খাব।
মৌচাকৰ মাজত মৌ থাকে।
মই বিয়লি চাহ খাব।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তেওঁ খোৱা ধনিয়া পানীত।
তুমি কি বিদ্যালয়লৈ যাও?
বাপেকৰ নাম ৰমেশ।
তেওঁ খোৱা ধনিয়া পানীত।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
বাপেকৰ নাম ৰমেশ।
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
আমাৰ ঘৰখন বৰ ডাঙৰ।
বাপেকৰ নাম ৰমেশ।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
মই বিয়লি চাহ খাব।
শিলাদিত্য এটা ভাল মানুহ।
মই বিয়লি চাহ খাব।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
শিলাদিত্য এটা ভাল মানুহ।
তেওঁ খোৱা ধনিয়া পানীত।
বাপেকৰ নাম ৰমেশ।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
বাপেকৰ নাম ৰমেশ।
বাপেকৰ নাম ৰমেশ।
তেওঁ খোৱা ধনিয়া পানীত।
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তেওঁ খোৱা ধনিয়া পানীত।
শিলাদিত্য এটা ভাল মানুহ।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
তুমি কি বিদ্যালয়লৈ যাও?
শিলাদিত্য এটা ভাল মানুহ।
তেওঁ খোৱা ধনিয়া পানীত।
ৰমা আৰু শ্যাম বিদ্যালয়লৈ গৈছিল।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
শিলাদিত্য এটা ভাল মানুহ।
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
শিলাদিত্য এটা ভাল মানুহ।
তুমি কি বিদ্যালয়লৈ যাও?
মই বিয়লি চাহ খাব।
তেওঁ খোৱা ধনিয়া পানীত।
বাপেকৰ নাম ৰমেশ।
তুমি কি বিদ্যালয়লৈ যাও?
মৌচাকৰ মাজত মৌ থাকে।
মই বিয়লি চাহ খাব।
বাপেকৰ নাম ৰমেশ।
মই বিয়লি চাহ খাব।
তুমি কি বিদ্যালয়লৈ যাও?
তেওঁ খোৱা ধনিয়া পানীত।
শিলাদিত্য এটা ভাল মানুহ।
তেওঁবোৰ বাগিছাত ফুল লাগিছে।
তেওঁ খোৱা ধনিয়া পানীত।
মৌচাকৰ মাজত মৌ থাকে।
বাপেকৰ নাম ৰমেশ।
মই বিয়লি চাহ খাব।
